@import ../colors.sass

.post_col
  width: 600px
  float: left
  background-color: #efe
  padding: 10px

.side_col
  width: 250px
  float: right
  background-color: #fee
  padding: 10px

.reply,
.comment
  padding: 10px
  margin: 0 0 0 -2px

.reply
  background-color: #eee
  border: 1px solid #fff

.reply_container
  margin: 0 0 0 20px
  border-left: 1px dashed #ddd

.comment
  background-color: #fff
  border: 1px solid #eee