- checked = post.categories.to_a
- categories.each do |c|
  %li
    = check_box_tag('categories[]', c.id, checked.include?(c), id: "category#{c.id}") 
    = content_tag(:label, c.category, for: "category#{c.id}")