%h1 Comments
%ul{class: "admin_list_types"}
  %li= "#{link_to("All", admin_blog_comments_url, class: (@type == 'all' ? 'active' : nil))} | ".html_safe
  - types = @comment_types.map do |t|
    - content_tag(:li, link_to(t.status.capitalize, admin_blog_comments_search_url(type: t.status), class: (@type == t.status ? 'active' : nil)))
  = types.join(content_tag(:li, " | ")).html_safe

= render "admin/blog/comments/comment_list_table", comments: @comments

                                              