@import compass/css3
@import sasslibs/adamLib
@import colors
@import sasslibs/cleverButton

a
  color: $admin_green
a:hover
  color: $admin_dark_brown

input[type="submit"], button, .button
  +cleverButton(2px,white,#999,#666, "", "twoTone")

.main_menu
  border: 1px solid #eee
  +linear-gradient(color-stops($admin_bar_grad_from, $admin_bar_grad_to))
  border-bottom: 1px solid #ccc
  +single-box-shadow(#ccc, 1px, 0, 2px, 1px, false)
  +single-text-shadow(#fff, 1px, 1px, -3px)
  color: #666
  overflow: hidden
  li
    margin: 0
    padding: 0
    float: left
  li:first-child
    border-left: 1px solid #ddd
  span
    padding: 10px
    display: inline-block
    border-right: 1px solid #ddd
    font-family: Georgia, Serif
    font-size: .9em
  a
    padding: 10px
    margin: 0
    color: #777
    display: inline-block
    border-left: 1px solid $admin_border_light
    border-right: 1px solid $admin_border_dark
  a:hover
    color: $admin_green
    +linear-gradient(color-stops($admin_bar_grad_from, $admin_bar_grad_to_hover))
    text-decoration: none
  ul
    float: left
    margin: 0 0 0 25px
  ul:first-child
    float: right
    margin: 0 25px 0 0
  ul:first-child
    li
      border: none

.container
  margin-top: 25px

.admin_main_col
  +rwidth(785px)
  border: 1px solid #eee
  float: right
  padding: 15px

.admin_side_col
  height: 500px
  +rwidth(110px)
  padding-right: 11px
  background-color: #fff
  border-left: 1px solid #eee
  border-top: 1px solid #efefef
  border-right: 1px solid #ccc
  border-bottom: 1px solid #ccc
  +border-radius(10px)
  float: left
  overflow: hidden

.sidebar
  width: 100%
  a
    display: inline-block
    padding: 5px
    width: 100%
    font-size: 1.8em
    color: #777
    border-left: 1px solid #eee
    border-top: 1px solid #efefef
    border-right: 1px solid #ccc
    border-bottom: 1px solid #ccc
  a:hover, a.active
    text-decoration: none
  >li>a
    +single-text-shadow(#fff, 1px, 1px, -3px)
    +linear-gradient(color-stops($admin_bar_grad_from, $admin_bar_grad_to))
  >li>a:hover, >li>a.active
    +linear-gradient(color-stops($admin_bar_grad_from, $admin_bar_grad_to_hover))
    color: $admin_green
  >li
    ul
      a
        width: 90%
        font-size: 1.1em
        color: #fff
        border-top: 1px solid #fff
        background: none $admin_dark_grey
      a:hover
        background-color: $admin_dark_brown
