@import "compass/css3"
@import "../sasslibs/adamLib"
@import "../colors"

.info_table
  font-size: 1.2em
  color: #666
  thead
    +linear-gradient(color-stops($admin_bar_grad_from, $admin_bar_grad_to))
    font-size: 1.4em
    +fancyborders(#efefef,#ddd)
    color: $admin_dark_grey
    +single-text-shadow(#fff, 1px, 1px, -3px)
  th
    border-left: 1px solid $admin_border_light
    border-right: 1px solid $admin_border_dark
    padding: 7px 10px
  th:hover
    cursor: pointer
    color: $admin_green
    +linear-gradient(color-stops($admin_bar_grad_from, $admin_bar_grad_to_hover))
  td
    padding: 5px 10px
    line-height: 17px
  .roll_over
    visibility: hidden
  tr:hover .roll_over, tr:hover + tr .roll_over
    visibility: visible
  .row_stripe
    background-color: #efefef
  td:first-child, td:last-child
    border: none

.admin_list_types
  margin: 5px
  li
    display: inline
    font-size: 1.3em
