-# nested_items = sidebar_items = {name: {url: "http://www.yoursite.com", 
-#                                        title: "click here to go to yoursite"
-#                                        target: "",
-#                                        submenu: nested_items}}

-# active accepts an array of sidemenu symbols. So if your on the ':all_posts' submenu page within ':posts'
-# active would need an array with both active = [:posts, :all_posts] for correct links to be set active

- sidebar_items ||= {}
- active ||= []
- submenu ||= nil
%ul{class: (submenu ? nil : "sidebar")}
  - sidebar_items.each do |k,v|
    %li{class: (!v[:submenu].nil? && v[:submenu].length > 1 ? "has_submenu" : nil)}
      = link_to k.to_s.gsub("_", " ").titleize, v[:url], class: (!active.nil? && active.include?(k) ? "active" : "")
      - unless v[:submenu].nil?
        %li{class: "submenu"}
          = render "admin/layouts/sidebar", sidebar_items: v[:submenu],active: active, submenu: true
  