/[if lt IE 9]
  %script{src: "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

= javascript_include_tag('application_admin')

=# stylesheet_link_tag 'blueprint/print', :media => 'print'
=# stylesheet_link_tag 'blueprint/screen', :media => 'screen'
= stylesheet_link_tag 'application_admin'

/[if lt IE 8]
  =# stylesheet_link_tag 'blueprint/ie'
